nav {
  border-radius: 12px;
}

img {
  border-radius: 12px;
  max-width: 100%;
}

.material-icons {
  vertical-align: bottom;
}

.paper-button {
  padding-right: 0px !important;
}

@media screen and (max-width: 992px) {
  .card-image-img {
      width: 120px !important;
      border-bottom-right-radius: 12px !important;
  }
}

@media screen and (min-width: 992px) {
  .card-image-img {
      max-width: 200px !important;
  }
}

.paper > .card-stacked > .card-content > .card-title {
  font-size: 20px;
  line-height: 24px;
}

#headshot {
  height: 100%;
  object-fit: cover;
}
